body {
    font-family: 'Literata', serif;
}

div.main-content {
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
}