body {
    text-align: center;
}

div.main-content {
    height: 10em;
    position: relative;
}

div.main-content div {
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}